@import '../../../css/variables.scss';

.sty-alertBox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #00000052;
  .stateBox {
    padding: 20px 30px;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 3px 3px 10px #7a7a7a;
    .sty-inputGroup {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      input[type='radio'] {
        display: none;
        &:checked {
          & + label {
            .sty-radio {
              border: none;
              background-color: #28a745;
            }
          }
        }
      }
    }
    .sty-radio {
      width: 13px;
      height: 13px;
      // background-color: #28a745;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #bbbbbd;
      margin-right: 10px;
    }
  }
}

.sty-alertBox.active {
  display: block;
}

.stateBox h3 {
  font-size: 20px;
  margin: 10px 0 40px;
}

.stateBox .sty-inputGroup label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sty-ad-table {
  thead {
    background-color: rgb(236, 236, 236);
  }
}

.styRed {
  color: red;
}

.ad-detail {
  display: none;
  background-color: rgb(236, 236, 236);
  transition: 0.5s;
}
.ad-detail.active {
  display: table-row;
}

.sty-ad-show {
  img {
    width: 300px;
    height: 200px;
  }
  .ad-text {
    width: 100px;
    height: 130px;
    background-color: black;
  }
}
