@import '../../../css/variables.scss';

.sty-alertBox.active {
  display: block;
}
.sty-alertBox {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #00000052;
  .stateBox {
    animation-name: fadeIn;

    padding: 20px 30px;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 3px 3px 10px #7a7a7a;
    .sty-inputGroup {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      input[type='radio'] {
        display: none;
        &:checked {
          & + label {
            .sty-radio {
              border: none;
              background-color: #28a745;
            }
          }
        }
      }
    }
    .sty-radio {
      width: 13px;
      height: 13px;
      // background-color: #28a745;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #bbbbbd;
      margin-right: 10px;
    }
  }
}

.sty-alertBox {
  .showBox {
    // animation-name: zoomIn;
    animation-duration: 0.5s;
    // background-color: #dddddd;
    width: 1100px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
  .show-close {
    font-size: 80px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #000000;
    transition: 0.2s;
    &:hover {
      color: rgb(219, 69, 69);
    }
  }
  .show-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 900px;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: right;
    }
  }
  .show-txt {
    position: absolute;
    background-color: black;
    width: 350px;
    height: 400px;
    top: 50%;
    left: 63%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    h6 {
      font-weight: $font-bold;
      font-size: 17px;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      margin-bottom: 35px;
    }
    button {
      width: 150px;
      font-size: 15px;
      background-color: transparent;
      border: 1px solid #ffffff;
      padding: 8px 32px;
    }
  }
  .show-num {
    width: 140px;
    height: 140px;
    background-color: black;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 80px;
    color: white;
    font-size: 64px;
    font-weight: $font-bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .show-title {
    font-size: 35px;
    position: absolute;
    color: black;
    font-weight: $font-bold;
    z-index: 1;
    top: -15px;
    left: 250px;
  }
}

.stateBox h3 {
  font-size: 20px;
  margin: 10px 0 40px;
}

.stateBox .sty-inputGroup label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sty-ad-table {
  thead {
    background-color: rgb(236, 236, 236);
    font-size: 20px;
  }
  tbody {
    font-size: 17px;
    tr {
      &:hover {
        background-color: rgb(236, 236, 236);
      }
    }
  }
  .adInfo {
    width: 30px;
    height: 30px;
    background-color: #b8b8b8;
  }
}

.styRed {
  color: red;
}
.styGrey {
  color: $grey;
}

.planGroup {
  display: flex;
  align-items: baseline;
  span {
    display: flex;
    cursor: pointer;
  }
  svg {
    padding-left: 10px;
    align-self: center;
    width: 24px;
    height: 14px;
  }
  ul {
    display: none;
    margin: 0 0 0 30px;
  }
}
.planGroup.active {
  ul {
    display: block;
  }
}

.ad-detail {
  display: none;
  background-color: rgb(236, 236, 236);
  transition: 0.5s;
}
.ad-detail.active {
  display: table-row;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid rgb(33, 71, 107);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(64, 115, 124) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    // -webkit-transform: scale3d(0.3, 0.3, 0.3);
    // transform: scale3d(0.3, 0.3, 0.3);
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
