@import '../css/variables.scss';

.nav-item {
  font-size: 18px;
}

.sty-nav {
  padding-left: 25px;
  //   margin-top: 10px;
  li {
    // margin-top: 10px;
    // font-weight: none;
    color: #a7b1c2;
    background: '#293846';
    &:hover {
      color: white;
    }
  }
  li.active {
    color: white;
  }
}
